*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.iws
junit/build
testng/build
karma/node_modules/jasmine/node_modules
karma/node_modules
TESTS-*.xml
gradlejunit/build
mvnjunit/target
mvntestng/target
mvnjunitcucumber/target
.idea
*.iml
.gradle
npm-debug.log
inputFiles.lst
test-results
