*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.iws
karma/node_modules/jasmine/node_modules
karma/node_modules
TESTS-*.xml
*/build/
*/target/
vststtrx/VSTstTrx/bin/
vststtrx/VSTstTrx/obj/
nunit2/NUnit/bin/
nunit2/NUnit/obj/
nunit3/NUnit/bin/
nunit3/NUnit/obj/
.vs/
.gradle/
.idea/
*.iml
*.lst
*.log
inputFiles.lst
testresults
RecentChanges
